.texto-principal {color:blue; text-align: center; font-size: 24px;}

.fundo-principal {background-color: burlywood;}

#conteudo {font-size:30px ; background-color:green; color:white; text-align: center; padding:20px;}



